{
  "psl": "psl",
  "macro_default_delay": 1000,
  "editor": "system",
  "terminal": "iterm2",
  "stop_hook": "",
  "mcp": true,
  "mcp_port": 8032,
  "mcp_host": "0.0.0.0",
  "server": true,
  "server_port": 8033,
  "webui_view_fps": 5
}
