{
  "editor": "system",
  "macro_default_delay": 1000,
  "max_steps": 12,
  "model": "gpt-4o",
  "start_mcp": true,
  "stop_hook": "",
  "terminal": "iterm2",
  "window_height": 680,
  "window_width": 1227,
  "window_x": 1828,
  "window_y": 940
}
